@using ProjectWeb.ASM.Repositorio
@using ProjectWeb.Shared.Modelo.DTO.Categoria
@using ProjectWeb.Shared.Modelo.Estatico
@inject ToastService ToastService
@inject SweetAlertService sweetAlertService
@inject IRepository repository


<div class="principal">
    <div class="formulario">

        <!-- Título -->
        <div class="form-panel">
            <h2 class="form-title"><i class="bi bi-ui-checks-grid"></i>@Titulo</h2>
        </div>

        <EditForm Model="Input" OnValidSubmit="SubmitForm">
            <DataAnnotationsValidator />
            <ValidationSummary></ValidationSummary>
            <div class="form-wrapper">

                <!-- Nombre del país -->
                <div class="form-group">
                    <label>Nombre del País:</label>
                    <div class="input-icon">
                        <span class="icon"><i class="fas fa-globe"></i></span>
                        <input type="text"
                               @bind="Input.Descripcion_Cat"
                               class="form-control"
                               placeholder="Ingrese Categoria" />
                    </div>
                    <ValidationMessage For="() => Input.Descripcion_Cat" />
                </div>

                <!-- Información -->
                <div class="form-group" style="flex:1 1 100%">
                    <label>Información:</label>
                    <div class="input-icon">
                        <span class="icon"><i class="fas fa-info-circle"></i></span>
                        <textarea @bind="Input.Informacion_Cat"
                                  class="form-control"
                                  rows="4"
                                  placeholder="Ingrese información"></textarea>
                    </div>
                </div>
                <!-- Estado -->
                <div class="form-group">
                    <label>Estado:</label>
                    <div class="input-icon">
                        <span class="icon"><i class="fas fa-list"></i></span>
                        <select @bind="Input.Estado_Cat" class="form-control">
                            <option value="">Seleccione</option>
                            @foreach (var item in items)
                            {
                                <option value="@item.Id">@item.Text</option>
                            }
                        </select>
                    </div>
                    <ValidationMessage For="() => Input.Estado_Cat" />
                </div>

                <!-- Botones -->
                <div class="buttons-container">
                    <button type="submit" class="btn btn-primary">@SubmitButtonText</button>
                    <button type="button" class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
                </div>

            </div>
        </EditForm>

    </div>
</div>


@code {
    [CascadingParameter] BlazoredModalInstance Modal { get; set; } = default!;
    [Parameter] public CategoriaDTO InputDTO { get; set; } = new CategoriaDTO();
    [Parameter] public string SubmitButtonText { get; set; } = string.Empty;
    [Parameter] public string Titulo { get; set; } = string.Empty;


    private CategoriaDTO Input = new();
    private List<Estado> items = new();
    private string? previewUrl;

    protected override void OnInitialized()
    {
        items = Estado.GetItems();
        if (InputDTO != null)
        {
            Input = InputDTO;
            
        }
    }

    private async Task SubmitForm()
    {
        

        if (SubmitButtonText == "Save")
        {
            var responseHttp = await repository.Post<CategoriaDTO>("/api/Categorias/CreateCategoria", Input);
            if (responseHttp.Error)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
            ToastService.Notify(new(ToastType.Success, $"Record Categoria Update Successfully."));
            await Task.Delay(3000);
            await Modal.CloseAsync(ModalResult.Ok(Input));
            return;
        }
        if (SubmitButtonText == "Update")
        {
            var responseHttp = await repository.Put<CategoriaDTO>($"/api/Categorias/{Input.Id_Categoria}", Input);
            if (responseHttp.Error)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }

            ToastService.Notify(new(ToastType.Success, $"Record Categoria Saved Successfully."));
            await Task.Delay(3000);
            await Modal.CloseAsync(ModalResult.Ok(Input));
            return;
        }
    }

    private async Task Cancelar()
    {
        await Modal.CancelAsync();
    }
}
