.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.bb-top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    display: flex;
    justify-content: space-between; /* Distribuir elementos de forma equitativa */
    align-items: center;
    height: 3.5rem;
    padding: 0 1rem;
}

    .bb-top-row .bb-top-row-sticky {
        display: flex;
        align-items: center;
        justify-content: flex-end; /* Alinea los elementos a la derecha */
        gap: 1rem; /* Espaciado entre los elementos */
    }

    .bb-top-row a,
    .bb-top-row .btn-link {
        white-space: nowrap;
        text-decoration: none;
        font-size: 1rem; /* Tamaño de fuente predeterminado */
    }

        .bb-top-row a:hover,
        .bb-top-row .btn-link:hover {
            text-decoration: underline;
        }

        .bb-top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    /* Para pantallas pequeñas */
    .bb-top-row {
        flex-direction: column; /* Los elementos se apilan verticalmente */
        padding: 0.5rem 1rem; /* Ajuste de padding */
        height: auto; /* Ajuste de altura según el contenido */
    }

        .bb-top-row .bb-top-row-sticky {
            width: 100%;
            justify-content: space-between; /* Los elementos deben estar separados */
        }

    .float-end {
        font-size: 1rem; /* Reducir tamaño de fuente en pantallas pequeñas */
        margin-top: 0.5rem;
    }

    /* Ajusta el comportamiento de los enlaces y botones en pantallas pequeñas */
    .bb-top-row a,
    .bb-top-row .btn-link {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9rem; /* Reducir el tamaño de texto en pantallas pequeñas */
    }
}

@media (min-width: 641px) {
    /* Para pantallas grandes */
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .bb-top-row {
        position: sticky;
        top: 0;
        z-index: 1;
        padding-left: 2rem;
        padding-right: 1.5rem;
    }
}
